.THIS rect {
  fill: none;
  stroke: #fff;
}

.THIS text {
  pointer-events: none;
}
    
.THIS   .grandparent text {
  font-weight: bold;
}

.THIS   .ptext text {
  font-weight: bold;
}

.THIS   .grandparent rect {
  stroke-width: 2px;
}
  
.THIS  .grandparent rect {
  fill: orange;
  cursor: pointer;
}

.THIS  .grandparent:hover rect {
  fill: #ee9700;
}

  
.THIS  rect.parent {
  stroke-width: 2px;
  fill-opacity: 0.9;
  pointer-events: none;  
}

.THIS  .children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

  
.THIS .children:hover rect.parent {
    fill: #bbb;
    fill-opacity: 0.2;
  }
  
.THIS  .children:hover rect.child {
    fill: #bbb;
    fill-opacity: 1;
  }

