.THIS .treenode circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.THIS .treenode text {
  font: 12px sans-serif;
}

.THIS .treelink {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}