.THIS .treenode circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.THIS .treenode text {
  font: 12px sans-serif;
}

.THIS .treelink {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

/* TODO REMOVE THIS EVENTUALLY Just to ensure the select2 box is "glued" to the top*/
.THIS .search {
  width: 100%;
}

.THIS.popoutOuterDiv{
	background-color:white;   
}
.THIS.popoverclass {
    min-height: 100px;
}
 
.THIS.no-pointer .pointer{
    visibility: hidden;
}