.THIS div#container {
    width: 15%;
    float: left;
}



/* Styles not used */

.THIS section {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
}

.THIS div#numbernodecontainer {
    margin-left: 15%;
    float: right;
}
.THIS div#levelnodecontainer {
    margin-left: 15%;
    float: center;
}

.THIS div.nodeToolTip {
    opacity: 0;
    position: relative;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(204, 235, 243);
    border: 10px;
    border-radius: 8px;
    pointer-events: none;
    float: left;
}

.THIS div.pathToolTip {
    opacity: 0;
    position: relative;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(134, 196, 119);
    border: 10px;
    border-radius: 8px;
    pointer-events: none;
    float: left;
}

.THIS div.chartarea {
}

.THIS sfd3Hidden {
    visibility: hidden;
}

.THIS sfd3Visible {
    visibility: visible;
}

